PAYLOAD_SECRET=your-payload-secret
DATABASE_URI=postgresql://postgres:password@db.supabase.co:5432/postgres

COMPANY_NAME="Your Company"
TWITTER_CREATOR="@yourtwitter"
TWITTER_SITE="https://yourwebsite.com"
SITE_NAME="Your Shop Name"

PAYLOAD_PUBLIC_SERVER_URL=http://localhost:3000
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Used to preview drafts
PREVIEW_SECRET=your-draft-secret

# Stripe API keys
STRIPE_SECRET_KEY=sk_test_...
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_WEBHOOKS_SIGNING_SECRET=whsec_...
